<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>
    {% include meta.html %}
    <link rel="stylesheet"
          type="text/css"
          href="/assets/css/style.css">
</head>
<body>
    <header class="site-header">
        <a href="{{ site.baseurl }}/"
           class="site-header__logo-link">
            <img src="/assets/images/logo.svg"
                 class="site-header__logo"
                 alt="Diglactic Logo">
        </a>
    </header>

    <div class="site-content">
        {{ content }}
    </div>

    <footer class="site-footer">
        &copy; {{ site.copy_text}}
    </footer>

    {% include analytics.html %}
</body>
</html>
