<!DOCTYPE html>
<html>
<head>
    <title>
        {% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}
    </title>

    {% include meta.html %}

    <link rel="stylesheet"
          type="text/css"
          href="{{ site.baseurl }}/style.css">
</head>

<body>
    <header>
        <h1>
            <a href="{{ site.baseurl }}">
                {{ site.name }}
            </a>
        </h1>
    </header>

    <div>
        {{ content }}
    </div>


    <footer>
        &copy; 2020 Diglactic
    </footer>

    {% include analytics.html %}
</body>
</html>
